{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/styles.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="banner" id="primary-banner">
        <h1>        
            Destinations
        </h1>
    </div>

    <div class="banner" id="secondary-banner">
        <div id="banner-box">
            <div id="banner-buttons">
                <a href="/" class="inv-link">Log Out</a> <!-- reroute -->
                <a href="/" class="inv-link">Home</a>
                <a href="/destinations/new" class="inv-link">New Destination</a>
            </div>
        </div>
    </div>

    <h1>Your Destinations</h1>

    <div>
        {% if destinations %}
        {% for destination in destinations%}
        <div>
            {{ destination.place }}
        </div>
        <div>
            {{ destination.rating }}
        </div>
        <div>
            {{ destination.review }}
        </div>
        {% endfor %}
        {% else %}
        No destinations yet
        {% endif %}
    </div>

</body>

</html>