{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/styles.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="banner" id="primary-banner">
        <h1>
            Destinations
        </h1>
    </div>

    <div class="banner" id="secondary-banner">
        <div id="banner-box">
            <div id="banner-buttons">
                <a href="sessions/new/" class="inv-link">Sign In</a>
                <a href="users/new/" class="inv-link">Create Account</a>
            </div>
        </div>
    </div>

    <h1>Welcome! Find your new destination here!</h1>
    <div>
        {% if destinations %}
        {% for destination in destinations%}
        <div id="review">
            <div class="destination-info">
                <h2>
                    {{ destination.place }}
                </h2>
            </div>
            <div class="destination-info">
                Rating: {{ destination.rating }}/5
            </div>
            <div class="destination-info">
                Review: {{ destination.review }}
            </div>
        </div>
        {% endfor %}
        {% else %}
        No destinations yet
        {% endif %}
    </div>
</body>

</html>