{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/styles.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="banner" id="primary-banner">
        <h1>
            Destinations:
        </h1>
        <h3>
            Find your new favorite place
        </h3>
    </div>

    <div class="banner" id="secondary-banner">
        <div id="banner-buttons">
            <a href="../../" class="inv-link">My Destinations</a>
            <a href="../../" class="inv-link">Home</a>
        </div>
    </div>

    <h1>Add New Destination</h1>
    <div>
        <form id="new-destination" action="/destinations/" method="post">

            <label>
                <div>
                    Place:
                </div>
                <input type="text" name="place"></input>
            </label>
            <label>
                <div>
                    Rating (1-5):
                </div>
                <input type="number" name="rating"></input>
            </label>
            <label>
                <div>
                    Review:
                </div>
                <input type="text" name="review" class="big-text-box"></input>
            </label>

            <label>
                <div>
                    Display publicly?
                    <input type="checkbox" name="share-publicly"></input>
                </div>
            </label>
            <div>
                <button id="submit">Submit</button>
            </div>

        </form>
    </div>

</body>

</html>